@media (max-width: 544px) {
  html {
    font-size: 8px;
  }

  .main h1 {
    font-size: 3rem;
  }

  .container h2 {
    font-size: 2.5rem;
  }

  .description h3 {
    font-size: 2rem;
  }
  .description p {
    font-size: 1.6rem;
  }
}
